/* for index13

body{
  background-color: black;
}
h1{
  color: white;
}
*/

/*

.odd{
  color: red;
}

.even{
  color: blue;
}

/* 
#p1{
  color: red;
}
#p2{
  color: orange;
}
#p3{
  color: yellow;
}
#p4{
  color: green;
}
*/

/* for index14
body{
  background-color: hsl(0 0% 11%);
}
#p1{
  color: tomato;
}
#p2{
  color: rgb(102, 222, 255);
}
#p3{
  color: #59ff5f;
}
#p4{
  color: hsl(283 100% 64%);
}
*/

/* use onindex15.html
h1{
  font-family: Roboto, verdana, arial;
}
p{
  font-family: "Open Sans", "lucida console", "courier new";
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}
*/

  /* border-style: solid; dashed, dotted, double, groove, ridge, inset, outset, none  */
/*
h1{border: 3px solid hsl(273, 100%, 54%);
  border-radius: 20px;
}
p{
  border-bottom: 3px solid rgb(252, 28, 28);
  border-top: 3px solid rgb(255, 255, 35);
  border-left: 3px dotted rgb(255, 179, 37);
  border-right: 3px dotted rgb(62, 255, 62);

  border-radius: 10px;
}
*/

/*
h1{
  text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px hsl(182, 100%, 61%);
}
#box1{
  width: 100px;
  height: 100px;
  background-color: rgb(234, 234, 234);
  box-shadow: 3px 3px 5px;
}
*/

/* use on 18Margin
body{
  margin: 0px;
}
.box{
  border: 5px solid;
  font-size: 5em;
  width: 250px;
  height: 250px;
  margin: auto;
}
#box1{
  background-color: hsl(0, 100%, 60%);
  margin-bottom: 50px;
  margin-top: 50px;
}
#box2{
  background-color: hsl(189, 100%, 55%);
}
*/

/* use on index19Float
body{
  border: 3px solid;
  display: flow-root;
}
#img1{
  float: left;
  margin-right: 10px;
}
#img2{
  float: right;
  margin-left: 10px;
}
*/

/* use on index20Overflow visible, hidden, clip, scroll, auto
div{
  border: 2px solid;
  height: 75px;
  overflow: auto;

}
*/

/* use on 21Display */

/* div{
  background-color: hsl(0, 100%, 75%);
  width: 100px;
  height: 100px;
  /* display: block;  add lorem and change block to inline 
  /* display: inline;  it join into the Lorem, none is not show 
  display: inline-block;
  visibility: hidden; /* hide the display of div 
}
/*span{
  background-color: hsl(204, 100%, 75%);
  width: 100px; /* no change in span 
  height: 100px;  /* no change in span 
  /* display: block;  use this can change in span, add loren and change block to inline
  /* display: inline; it join in the Lorem, none is not show  */
  /*display: inline-block; 
}

/* use on 22WidthHeight 
*{
  box-sizing: border-box;
}
.container{
  background-color: hsl(0, 0%, 24%);
  height: 100vh;
}
.box{background-color: hsl(0, 0%, 100%);
  border: 2px solid;
  padding: 25px;
  height: auto;
  width: 50%;
  float: left;
  text-align: center;

  min-height: 50%;
}

*/

/* use on 23Position.html
#box1{
  width: 200px;
  height: 200px;
  background-color: hsl(188, 100%, 63%);
  position: sticky;
  top: 0px;
}
#box2{
  width: 100px;
  height: 100px;
  background-color: hsl(0, 100%, 63%);
  position: absolute;
  top: 50px;
  left: 50px;
}
  */

/* use on 24BG
body
{
  background-image: url(image/lionRock.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;

}
*/

/* use on 25Combination
#container{
  border: 2px solid;
}
#container ~ p{
  background-color: hsl(60, 100%, 50%);
}
*/

/* use on 26Pseudo 
button:hover{
  font-size: 1.1em;
  background-color: hsl(106, 90%, 70%);
}
button:active{
  font-size: 1.1em;
  background-color: hsl(0, 90%, 70%);
}
a:link{
  color: hsl(221, 100%, 74%);
}
a:hover{
  color: hsl(221, 100%, 86%);
  font-size: 1.1em;
}
a:active{
  color: hsl(240, 100%, 58%);
  font-size: 1.1em;
}
a:visited{
  color: hsl(0, 0%, 75%);
}
li:hover{
  background-color: hsl(60, 100%, 72%);
}
li:not(:hover){
  background-color: hsl(60, 0%, 76%);
}
li:nth-child(3n+2){
  background-color: hsl(60, 100%, 72%);
}
#greeting p{
  background-color: hsl(196, 100%, 81%);
  padding: 10px;
  display: none;
}
#greeting:hover p{
  display: block;
}
  */

  /* use on 27seudoElement 
  h1::first-letter{
    font-size: 2em;
    font-style: italic;
  }
  p::first-line{
    background-color: hsl(60, 100%, 77%);
  }
  p::selection{
    color: rgb(89, 255, 71);
    background-color: hsl(0, 0%, 21%);
  }
  #fruit li::before{
  }
  #apple::after{
    content: "🍎";
  }
  #orange::after{
    content: "🍊";
  }
  #banana::after{
    content: "🍌";
  }
  #fruit li::marker{
    content: "✔️";
    color: hsl(120, 100%, 64%);
    font-size: 1.2em;
  }
  */

/* use on 28Pagination 
.pagination{
  text-align: center;
}
.pagination a{
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
}
.pagination a.active{
  background-color: hsl(120, 100%, 70%);
  font-weight: bold;
  border-radius: 5px;
}
.pagination a:hover:not(.active){
  background-color: hsl(0, 0%, 77%);
  border-radius: 5px;
}
*/

/* use in 29Dropdown 
.dropdown{
  display: inline-block;
}
.dropdown button{
  background-color: hsl(0, 0%, 80%);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.dropdown a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown .content{
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 95%);
  min-width: 100px;
  box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
  display: block;
}
.dropdown:hover button{
  background-color: hsl(0, 0%, 70%);
}
.dropdown a:hover{
  background-color: hsl(0, 0%, 90%);
}
*/


/* 30Navigation 
body{
  margin: 0px;
}
main{
  margin-left: 20px;
  margin-right: 20px;
}
h1{
  text-align: center;
}
.navbar ul{
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: hsl(0, 0%, 10%);
}
.navbar li{
  float: left;
}
*/

/* use on 31Layout 
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
header{
  background-color: hsl(0, 0%, 86%);
  text-align: center;
  padding: 25px;
}
.navbar{
  background-color: hsl(0, 0%, 15%);
  height: 50px;
}
aside{
  width: 20%;
  float: left;
  padding: 10px;
}
section{
  width: 40%;
  float: left;
  padding: 10px;
}
article{
  width: 40%;
  float: left;
  padding: 10px;
}
footer{
  display: block;
  clear: both;
  background-color: hsl(0, 0%, 86%);
  text-align: center;
  padding: 25px;
}
@media screen and (max-width:600px){
  aside, section, article{
    width: 100%;
  }
}
*/

/* this is on 32Gallery 
.gallery{
  display: inline-block;
  border: 1px solid hsl(0, 0%, 60%);
  margin: 5px;
  width: 200px;
}
.gallery .description{
  padding: 10px;
  text-align: center;
}
.gallery:hover{
  border: 1px solid hsl(0, 0%, 20%);
}
.gallery img{
  width: 100%;
  height: auto;
}
*/

/* this is on 33Icon 
.icons{
  text-align: center;
}
.icon a{
  text-decoration: none;
  margin-right: 20px;
}
.fa-solid.fa-house.fa-5x{
  color: hsl(0, 0%, 66%);
}
.fa-solid.fa-house.fa-5x:hover{
  color: hsl(0, 0%, 76%);
}
.fa-brands.fa-twitter.fa-5x{
  color: hsl(188, 100%, 50%);
}
.fa-brands.fa-twitter.fa-5x:hover{
  color: hsl(188, 100%, 70%);
}
.fa-brands.fa-youtube.fa-5x{
  color: hsl(0, 100%, 50%);
}
.fa-brands.fa-youtube.fa-5x:hover{
  color: hsl(0, 100%, 70%);
}
.fa-brands.fa-tiktok.fa-5x{
  color: hsl(0, 0%, 10%);
}
.fa-brands.fa-tiktok.fa-5x:hover{
  color: hsl(0, 0%, 30%);
}
*/

/* use on 34Flexbox 
.container{
  display: flex;

  border: 10px solid black;
  height: 90vh;

  
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 1em;
  row-gap: 1em;
}
.box{
  width: 150px;
  height: 150px;
  font-size: 8em;
  text-align: center;
  border-radius: 15px;
}
#box1{
  background-color: hsl(0, 100%, 70%);
  align-self: flex-start;
}
#box2{
  background-color: hsl(52, 100%, 70%);
  order: -1;
}
#box3{
  background-color: hsl(111, 100%, 70%);
}
#box4{
  background-color: hsl(201, 100%, 70%);
}
*/

/* use on 35Transform translate, scale, rotate, skew 

body{
  margin: 0;
}
.box{
  width: 250px;
  height: 250px;
  border: 5px solid;
  font-size: 13em;
  text-align: center;

  transform: translateX(100px) rotateZ(45deg) scale(0.5);
}
#box1{
  background-color: hsl(120, 100%, 70%);
}
#box2{
  background-color: hsl(0, 100%, 70%);
}
#box3{
  background-color: hsl(217, 100%, 70%);
}
img{
  transform: translateX(100%) rotateZ(180deg) scaleX(2);
}
*/

/* use on 36Animation */
body{
  background-color: hsl(0, 0%, 12%);
 /* background-color: white; */
}
#box{
  width: 250px;
  height: 250px;
  background-color: hsl(0, 100%, 62%);
  font-size: 13em;
  text-align: center;
  animation-name: slideLeft;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
img{
  animation-name: slideLeft;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
@keyframes slideLeft{
  from{transform: translateX(200%);}
}
@keyframes slideRight{
  to{transform: translateX(200%);}
}
@keyframes slideUp{
  from{transform: translateY(200%);}
}
@keyframes slideDown{
  to{transform: translateY(200%);}
}
@keyframes rotate{
  50%{transform: rotateZ(360deg);}
}
@keyframes grow{
  50%{transform: scale(2, 2);}
}
@keyframes shrink{
  50%{transform: scale(0.5, 0.5);}
}
@keyframes colorChange{
  0%{background-color: hsl(0, 100%, 62%);}
  20%{background-color: hsl(35, 100%, 62%);}
  40%{background-color: hsl(63, 100%, 62%);}
  60%{background-color: hsl(103, 100%, 62%);}
  80%{background-color: hsl(201, 100%, 62%);}
  100%{background-color: hsl(268, 100%, 62%);}
}
@keyframes grow{
  50%{box-shadow: 0px 0px 50px hsl(60, 100%, 62%);}
}