/* for index13

body{
  background-color: black;
}
h1{
  color: white;
}
*/

/*

.odd{
  color: red;
}

.even{
  color: blue;
}

/* 
#p1{
  color: red;
}
#p2{
  color: orange;
}
#p3{
  color: yellow;
}
#p4{
  color: green;
}
*/

/* for index14 */
body{
  background-color: hsl(0 0% 11%);
}
#p1{
  color: tomato;
}
#p2{
  color: rgb(102, 222, 255);
}
#p3{
  color: #59ff5f;
}
#p4{
  color: hsl(283 100% 64%);
}