body{
  background-color: black;
}
h1{
  color: white;
}




.odd{
<<<<<<< HEAD
  color: rgb(255, 68, 0);
}

.even{
  color: rgb(0, 255, 234);
}

/* 
=======
  color: red;
}

.even{
  color: blue;
}

/*
>>>>>>> 0cea2a31ae83c3f0ae5504b0ce5f11d8e39aa705
#p1{
  color: red;
}
#p2{
  color: orange;
}
#p3{
  color: yellow;
}
#p4{
  color: green;
<<<<<<< HEAD
}
=======
}
*/

>>>>>>> 0cea2a31ae83c3f0ae5504b0ce5f11d8e39aa705
